$clr-base-400: #ee5244;
$clr-secondary-400: #316fea;
$clr-neutral-900: #ffffff;
$clr-neutral-800: #fcf5ee;
$clr-neutral-400: #575757;
$clr-semi-neutral-400: hsla(53, 10%, 69%, 0.2);
$clr-neutral-100: #000000;
