$clr-base-400: #ee5244;
$clr-accent: #316fea;
$clr-semi-accent: hsla(220, 81%, 55%, 0.5);
$clr-neutral-900: #ffffff;
$clr-neutral-800: #fcf5ee;
$clr-neutral-500: #b5b6c0;
$clr-neutral-400: #575757;
$clr-semi-neutral-400: hsla(53, 10%, 69%, 0.2);
$clr-neutral-300: #3d3d3d;
$clr-neutral-100: #000000;
