@use '../abstracts/' as *;

%reset-btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
}
%sidebar__project-btn--hover:hover {
  background-color: $clr-semi-neutral-400;
  border: none;
  border-radius: 5px;
}

.input-btn {
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 5px;
}
.input-btn:hover {
  opacity: 0.9;
}
