@use '../abstracts/' as *;

.add-project-button {
  grid-area: addNewProjectBtn;
  text-align: left;
}
.user-projects.expanded .user-projects-toggle-arrow {
  transform: rotate(90deg);
}

.project-button {
  padding-block: 0.25rem;
  width: 100%;

  &:hover {
    background: $clr-base;
  }
}

.user-project {
  &:hover {
    background-color: $clr-base-light;
    border: none;
    border-radius: 5px;
  }
}
