@use '../abstracts/' as *;

.content-container {
  margin: 1rem;
  margin-inline: clamp(2rem, 3vw, 4rem);
  flex: 1;
}
.current-project-title {
  color: $clr-neutral-400;
  border-bottom: 1px solid $clr-semi-neutral-400;
  margin-bottom: 2rem;
}
.project-items-list {
  display: grid;
  gap: 1rem;
}
.task {
  padding: 0.5rem 1rem;
  display: flex;
  background-color: $clr-semi-neutral-400;
  border-radius: 4px;
}
.task-checkbox-container {
  flex: 1;
}
.task-checkbox {
  display: none;
}
.task-checkbox:checked + .task-text {
  text-decoration: line-through;
  opacity: 0.7;
}
.task-option {
  width: 1.5rem;
  margin-inline-end: 0.25rem;
  fill: $clr-neutral-400;

  &:hover {
    fill: $clr-base-400;
  }
}
.task-date {
  font-style: italic;
  color: $clr-neutral-400;
  font-size: $fs-sm;
}
