@use '../abstracts/' as *;
@use '../utilities/' as *;

.header {
  grid-area: header;
  position: relative;
  z-index: 9;
  display: flex;
  border-bottom: 1px solid $clr-base-400;
  padding: 0.125rem;
  background-color: $clr-base-400;
  color: $clr-neutral-900;
  font-family: $ff-montserrat;
}

.header__logo-container {
  display: flex;
  align-items: center;
  margin-inline: auto;
  font-size: $fs-xl;
  text-transform: uppercase;
  font-weight: $fw-bold;
}

.header__logo-icon {
  width: 3rem;
  text-align: center;
}
