@use '../abstracts/' as *;

.default-projects-icon {
  width: 1.75rem;
  margin-inline-end: 1rem;
  fill: $clr-white;
}

.user-projects-toggle-arrow {
  width: 1rem;
  margin-inline-end: 1rem;
  fill: $clr-white;
  transition: 0.3s ease-in-out;
}
