@use '../abstracts/' as *;

.sidebar__project-icon {
  width: 1.75rem;
  font-size: 1.5rem;
  color: $clr-semi-accent;
  margin-inline-end: 1rem;
}
.sidebar__filter-icon {
  @extend .sidebar__project-icon;
}
.sidebar__add-project-icon {
  width: 1.75rem;
}
.task__remove-icon path,
.task__edit-icon path {
  pointer-events: none;
}
.todo__add-task-btn {
  width: 2rem;
}
