@use '../abstracts/' as *;
.modal-header {
  font-size: $fs-lg;
}
.form__task-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.form__desc-wrapper {
  grid-column: 1 / 3;
}
.form__desc-textarea {
  resize: vertical;
  grid-column: 2fr;
}

.invalid::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(./assets/icons/alert-svgrepo-com.svg);
  position: absolute;
  top: 50%;
  right: 10px;
  // transform: translateY(-50%);
  z-index: 1;
}
