@use '../abstracts/' as *;

.add-task-screen {
  position: absolute;
  z-index: 9999999999;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: $clr-semi-neutral-400;
  display: grid;
  justify-content: center;
  align-items: center;
}
.add-task-panel {
  background-color: $clr-neutral-900;
  padding: 2.5rem;
  width: min(100vw - 4rem, 45rem);
  border-radius: 5px;
}
.add-task-heading {
  font-size: $fs-xl;
  font-weight: $fw-bold;
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
}
.add-task-from {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.desc-wrapper {
  grid-column: 1 / 3;
}
.new-task-desc {
  resize: vertical;
  grid-column: 2fr;
}
input,
select {
  height: 2rem;
}
textarea,
input,
select {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  border: 1px solid $clr-semi-neutral-400;
  font-size: $fs-base;
  background-color: $clr-neutral-800;
  min-height: 2.5rem;
}
textarea:focus,
input:focus {
  outline: none;
  border: 1px solid $clr-base-400;
}
textarea {
  resize: vertical;
}
.input-btn {
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 5px;
}
.input-btn:hover {
  opacity: 0.9;
}
.display-none {
  display: none;
}
.add-task-button {
  background-color: $clr-accent;
  color: $clr-neutral-900;
}
.remove-task-button {
  background-color: $clr-base-400;
  color: $clr-neutral-900;
}
.required {
  border: 1px solid transparent;
  border-radius: 5px;
}
.invalid::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(./assets/icons/alert-svgrepo-com.svg);
  position: absolute;
  top: 50%;
  right: 10px;
  // transform: translateY(-50%);
  z-index: 1;
}
