@use '../abstracts/' as *;

.sidebar {
  display: grid;
  grid-auto-rows: min-content;
  gap: 4rem;
  width: clamp(15rem, 20vw, 20rem);
  background-color: #fcf5ee;
  color: $clr-neutral-100;
  padding-inline: 1rem;
  padding-block-start: $content-padding-top;
}

.sidebar__projects-container {
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
}
