@use '../abstracts/' as *;

.sidebar-container {
  display: grid;
  grid-auto-rows: min-content;
  gap: 3rem;
  width: clamp(15rem, 20vw, 20rem);
  background-color: #fcf5ee;
  color: $clr-neutral-100;
  padding-inline: 1rem;
  padding-block: 3rem;
}
.sidebar-toggle {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  width: 2rem;
  aspect-ratio: 1;
  background-image: url('./assets/icons/menu-svgrepo-com.svg');
}
.sidebar-toggle.expanded {
  background-image: url('./assets/icons/close-svgrepo-com.svg');
}
.user-projects-container {
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
}
.user-project-form {
  font-size: $fs-sm;
  color: $clr-neutral-400;
  display: flex;
  flex-direction: column;
}
