@use '../abstracts/' as *;

.task {
  --task-priority: #316fea;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: column;
  padding: 0.5rem 1rem;
  background-color: $clr-neutral-800;
  border-radius: 4px;
}
.task__checkbox-container {
  display: flex;
  gap: 1rem;
}
.task__label {
  flex: 1;
}
.task__checkbox:checked ~ .task__label {
  color: $clr-neutral-400;
  text-decoration: line-through;
}
.task__control-icon {
  width: 1.5rem;
  margin-inline-end: 0.25rem;
  fill: $clr-neutral-400;

  &:hover {
    fill: $clr-base-400;
  }
}
.task__controllers {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.task__date {
  font-size: $fs-sm;
}
.task__option-icon {
  width: 1.5rem;
  cursor: pointer;

  &:hover {
    fill: $clr-accent;
  }
}
